$font_family-body: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font_family-title: "Oswald",Helvetica, Arial, sans-serif;
$font-family-cursive: "thirsty_roughblack_one", "Brush Script MT", cursive;
