.hero {
  position: relative;
  height: 100%;
}

.hero__video__container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 5;

  video {
    // Make the video at least 100% wide and tall
    min-width: 100%;
    min-height: 100%;

    // Prevent the browser from squishing the aspect ratio
    width: auto;
    height: auto;

    // Center the video
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  video::-webkit-media-controls {
    display: none !important;
  }

}

.hero__header {
  $container_width: 30rem;

  &__overlay {
    background: url('/assets/img/hero/linear_3x1.png');
    height: 100%;
    position: relative;
    z-index: 10;
  }

  &__container {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $container_width;
    max-width: 100%;
    z-index: 15;

    @include m-mobile-landscape {
      top: 20%;
      transform: translate(-50%, -20%);
    }
  }

  &__logo {
    background: url('/assets/img/hero/hero_logo.svg') no-repeat;
    background-size: contain;
    background-position: center;
    text-indent: -9999px;

    // Height calculation based on dimensions of logo (FWIW, logo WxH aspect
    // ratio is 1:1.13)
    height: 17rem;
    width: 100%;

    @include m-mobile-landscape {
      height: 11rem;
    }
  }

  &__slogan {
    font: 2.2em $font_family-cursive;
    color: white;
    text-align: center;
    margin: 1em 0 0.6em;
    -webkit-font-smoothing: antialiased;

    @include m-mobile-landscape {
      display: none;
    }
  }

  &__cta {
    text-align: center;
  }
}

.hero__button {
  @include ghost-btn(white);
  margin: 0.4em;
}
