hr {
    border-bottom: 1px solid #e7e7e7;
}

a ,a:visited,a:active,.color_big,.fullwidthbanner-container i{
    color: #F05241;
}

.holder li {
    border-bottom: 1px solid #e7e7e7;
}

li .img-over {
    background-color: #006BAC;
}

li:hover .social {
    border-bottom: 1px solid #F05241;
}

.holder li:hover {
    border-bottom: 1px solid #F05241;
}

.filter li a {
    background-color: #e8e8e8;
}

.filter li.active a,.filter li a:hover {
    background-color: #F05241;
    color: #fff;
}

.social {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.social a {
    background-color: #e4e4e4;
    color: #666666;
}

.social a:hover .icon-pinterest {
    color: #E00002;
}

.social a:hover .icon-twitter {
    color: #4099ff;
}

.social a:hover .icon-goggle-plus {
    color: #db5a3c;
}

.social a:hover .icon-linkedin {
    color: #4875B4;
}

.social a:hover .icon-facebook {
    color: #3B5998;
}

.info em {
    color: #999;
}

.page-wrapper {
    background-color: #fff !important;
}

body,html {
    color: #545454;
}

.portfolio h4 {
    color: #444;
}

.services h4 {
    color: #444;
}

.service i {
    color: #444;
}

.color {
    color: #F05241;
}

.message-block {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    color: #535353;
}

.quote-block {
    color: #FFFFFF;
    font-size: 20px;
}

.quote-block span {
    color: #cccccc;
    font-size: 12px;
}

.message-block span {
    color: #076590;
}

.title-bar h1 {
    border-right: 4px solid #F05241;
}

.message p {
    color: #fff;
    text-transform: uppercase;
    text-shadow:1px 1px 2px #666;
}

.menu {
    background-color: #000000;
    color: #fff;
}

.menu-list li a {
    color: #999;
}

.menu-list li.active a, .menu-list li a:hover {
    background-color: #1b1b1b;
    border-bottom: 3px solid #FFFFFF;
    color: #f8f8f8;
}

.arrow {
    border-bottom: 6px solid #FFFFFF;
}

.super {
    height: 100%;
}

.super h4 {
    color: #fff;
}

.slider-container {
    border-top: 3px solid #F05241;
}

.slider-area {
    background-color: #e3e3e3;
}

.contact h4 {
    color: #444;
}

.contact-info li:hover i {
    color: #F05241;
}

.contact-area button.std-button {
    color: #f2f2f2;
    background-color: #F05241;
}

.contact-area button.std-button:hover {
    background-color: #2b2b2b;
}

.contact-area label {
    color: #888;
}

.contact-area label.error {
    color: #fff;
    background-color: #ff0000;
}
.slide-panel{
    background-color: #3a3a3a;
    color:#676767;
    border-bottom: 1px solid #4d4d4d;
}
.panel-wrap h3{
    color:#dedede;
}
.panel-wrap .list li{
    border-top: 1px solid #4d4d4d;
    border-bottom: 1px solid #2b2b2b;

}
.panel-wrap .list i{
    color: #F05241;
}
.panel-wrap .toggle:hover i{
    color: #F05241;
}

.panel-wrap .toggle{
    background-color: #4d4d4d;
    color: #dedede;
}
.footer {
    background-color: #000;
}

img.fullimage {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    width: 100%;
    height: auto;
    -webkit-transition: opacity .15s ease-in-out;
}

.expanded {
    display:block;
}

.collapsed {
    display:none;
}

.text-center {
    text-align:center;
}

.padding-top {
    padding-top:30px;
}

.padding-bottom-20px {
    padding-bottom:20px;
}

.width-100 {
    width:100%;
}

.no-margin-left {
    margin-left: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.padding-left-30px {
    padding-left:30px
}

.filler {
    width:10%;
    height:1px;
    float:left;
}

.float-right {
    float:right;
}

.flex-container {
    display:flex;
}

.bold {
    font-weight:bold;
}

.vertical-padding-30px {
    padding:30px 0;
}

/* SPONSORS */
.sponsors.container {
    margin-top: 6em;
}
.sponsors ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sponsors li { 
    margin: 0.7em 1.2em 1.0em;
    opacity: 0.52;
}
.sponsors li:hover {
    opacity: 0.7;
}
.sponsors a img {
    /* height = (50px img + 0.5em padding + 1px border) at font-size: 12px */
    height: 4.75em;
    border-bottom: 1px solid #F05241;
    padding-bottom: 0.5em;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .sponsors img, .sponsors li {
        font-size: 0.75em;
    }

    .about-paragraphs .eight:first-child {
        padding-right:0 !important;
    }
    .about-paragraphs .eight:nth-child(2) {
        padding-left:0 !important;
    }
    #continue {
        display:none
    }
}
