:css
  .banner-container {
    display: flex;
    flex-direction: row;
    height:100px;
    justify-content: center;
  }

  .prom-banner {
    box-shadow: #000 0px 4px 10px;
    top:0;
    left:0;
    right:0;
    position:absolute;
    height:100px;
    background:url("/assets/img/CraftPaperBackground.png") repeat;
    background-color:#ecd6b6;
    z-index:999
  }

  .cursive {
    font: 1.75em "thirsty_roughblack_one", "Brush Script MT", cursive;
    color: #484E8A;
    -webkit-font-smoothing: antialiased;
    line-height: 1.3em;
    margin:0
  }

  .button-section, .text-section {
    padding:0 20px
  }

  .text-section {
    flex: 1 auto;
  }

  .button-section {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items:flex-end;
    flex: none;
  }

  .sticker-section {
    flex: none;
  }

  .button-section, .text-section {
    display: flex;
    flex-direction: column;
    justify-content:center;
  }

  .text-section h3 {
    margin-bottom:0;
    text-transform:uppercase;
    padding-bottom:5px;
    color: #484E8A;
  }

  .banner-container .button {
    text-transform:uppercase;
    line-height:22px !important;
    margin:0
  }

  .circle {
    height:150px;
    width:150px;
    margin-top: 7px;
    transform:rotate(2deg);
  }

  .carton {
    font-family:Carton;
    font-weight:600;
    font-style: italic;
  }

  @media only screen and (min-width: 768px) {
    .text-section .button {
      display:none
    }
  }

  @media only screen and (max-width: 767px) {

    .hero__header__container {
      top:52% !important;
    }

    .hero__header__slogan {
      margin:0;
    }

    .hero__header__logo {
      margin-bottom: 6px;
    }

    .button-section {
      display:none
    }

    .text-section {
      text-align: center;
    }

    .circle {
      height:110px;
      width:110px;
      margin-top: 15px;
      margin-left: 15px;
    }

    .banner-container, .prom-banner {
      height:100px
    }

    .banner-container {
      justify-content: center;
    }

    .cursive {
      font: 1em "thirsty_roughblack_one", "Brush Script MT", cursive;
      padding-bottom:5px
    }
  }

  @media only screen and (max-width: 767px) and (min-width: 480px) {
    .banner-container {
      width: 455px;
    }
  }

  @media only screen and (max-width: 479px) {
    .banner-container {
      width: 100%;
    }

    .button-section, .text-section {
      padding: 0 10px;
    }

    .banner-container, .prom-banner {
      height: 120px;
    }

    .circle {
      margin-top: 32px;
    }
  }

  @media only screen and (max-width: 372px) {
    .banner-container, .prom-banner {
      height: 120px;
    }

    .circle {
      margin-top: 32px;
    }
  }

.banner-container.container
  .button-section
    %a.button.mbxred{:href => "https://matchbox.spaces.nexudus.com/en/signup", :onclick => "trackOutboundLink('https://matchbox.spaces.nexudus.com/en/signup'); return false;"} Join Now
  .sticker-section
    %img.circle{:src=>"/assets/img/burst2.png"}
  .text-section
    %div
      %h3 Basic Membership @ MatchBox Now Includes
      %p.cursive{:style => "letter-spacing: -0.2px;"} Access to our <span class="carton">MBX</span> Maker <span class="carton">LAB</span> at no additional cost
      %a.button.mbxred{:href => "https://matchbox.spaces.nexudus.com/en/signup", :onclick => "trackOutboundLink('https://matchbox.spaces.nexudus.com/en/signup'); return false;"} Join Now