:css
  .banner-container {
    display: flex;
    flex-direction: row;
    height:100px;
    justify-content: center;
    padding-top:15px;
    text-align:center;
  }

  .prom-banner {
    box-shadow: #000 0px 4px 10px;
    top:0;
    left:0;
    right:0;
    position:absolute;
    height:100px;
    background:url("/assets/img/CraftPaperBackground.png") repeat;
    background-color:#ecd6b6;
    z-index:999
  }

  .large-title {
    display:block;
  }
  .small-title {
    display:none;
  }
  .small-title img {
    max-width:100%
  }

  @media only screen and (max-width: 767px) {

    .hero__header__container {
      top:52% !important;
    }

    .hero__header__slogan {
      margin:0;
    }

    .hero__header__logo {
      margin-bottom: 6px;
    }

    .banner-container, .prom-banner {
      height:100px
    }

    .banner-container {
      justify-content: center;
    }
  }

  @media only screen and (max-width: 767px) {
    .large-title {
      display:none;
    }
    .small-title {
      display:block;
    }
  }

  @media only screen and (max-width: 479px) {
    .banner-container {
      width: 100%;
    }
    .banner-container {
      padding-top:20px;
    }
  }

  @media only screen and (max-width: 380px) {
    .banner-container {
      padding-top:25px;
    }
  }

.banner-container
  %a.large-title{:href=>"http://www.matchboxstudio.org/entrepreneur/"}
    %img{:src=>"/assets/img/entrepreneur/title.png"}
  %a.small-title{:href=>"http://www.matchboxstudio.org/entrepreneur/"}
    %img{:src=>"/assets/img/entrepreneur/title-small.png"}