%header.overlay
  .super
    .video-container
      %iframe{:src => "https://player.vimeo.com/video/181849415?background=1",
        :frameborder => "0",
        :webkitallowfullscreen => true,
        :mozallowfullscreen => true,
        :allowfullscreen => true}
    .logo-container
      %h1 MatchBOX Studio
      .logo-cta
        %a.hero-btn{:href => ""} Look Around
        %a.hero-btn{:href => ""} Apply For Membership
