.overlay
  .super
    %div{:style => "width:100%;height:100%;min-height:100%;background-color:#000;text-align:center;margin:auto;"}
      %iframe#topVideo{:allowfullscreen => "", :frameborder => "0", :height => "500", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/76968901", :style => "width:100%; height:92%;", :webkitallowfullscreen => "", :width => "1024"}

