.video-container
  %video{autoplay: true, loop: true, poster: "assets/img/hero/hero_1.jpg"}
    %source{src: "assets/video/background.webm", type: "video/webm"}
    %source{src: "assets/video/background.ogg", type: "video/ogg"}
    %source{src: "assets/video/background.mp4", type: "video/mp4"}

%header
  .overlay
    .logo-container
      %h1 MatchBOX Studio
      .logo-cta
        %a.hero-btn{:href => ""} Look Around
        %a.hero-btn{:href => ""} Apply For Membership
