.hero__video__container
  %video{autoplay: true, loop: true, poster: "assets/img/hero/keyframe.jpg"}
    %source{src: "assets/video/background_720.webm", type: "video/webm"}
    %source{src: "assets/video/background_720.mp4", type: "video/mp4"}

%header.hero__header
  .hero__header__container
    %h1.hero__header__container__logo MatchBOX Studio
    .hero__header__container__cta
      %a.hero__button{href: "#virtualTour"} Look Around
      %a.hero__button{href: "#app"} Apply For Membership
