.hero__video__container
  %video{autoplay: true, loop: true, poster: "/assets/img/hero/keyframe.jpg"}
    %source{src: "/assets/video/background_720.webm", type: "video/webm"}
    %source{src: "/assets/video/background_720.mp4", type: "video/mp4"}

%header.hero__header__overlay
  .hero__header__container
    %h1.hero__header__logo MatchBOX Studio
    %p.hero__header__slogan A shared place to work and create.
    .hero__header__cta
      %a.hero__button{href: "#virtualTour"} Explore
      %a.hero__button{href: "https://matchbox.spaces.nexudus.com/en/signup", :onclick => "trackOutboundLink('https://matchbox.spaces.nexudus.com/en/signup'); return false;"} Join
