.container
  .sixteen.columns.clearfix
    %h1.logo
      %a{:href => "#up"}
        %img{:alt => "MatchBOX logo", :src => "/assets/img/theme/logo.png"}/
    %nav.menu-holder
      %ul#main-menu.menu-list
        %li.active
          %a{:href => "#up"}
            Home
            %span.arrow
        %li
          %a{:href => "/about.html"}
            About
            %span.arrow
        %li
          %a{:href => "https://matchbox.spaces.nexudus.com/en/signup", :onclick => "trackOutboundLink('https://matchbox.spaces.nexudus.com/en/signup'); return false;"}
            Join
            %span.arrow
        %li
          %a{:href => "/acceleration"}
            Acceleration
            %span.arrow
        %li
          %a{:href => "#contact"}
            Contact
            %span.arrow
        / Slide panel toggle
        %li.toggle-panel
          %a.closed{:href => "#"}
            %i.icon-plus
            %span.arrow
      / SubMenu
      %select#subMenu.sub-menu{:name => "subMenu", :onchange => "navigate(this.value)", :size => "1"}
        %option{:selected => "selected", :value => ""} Menu
        %option{:value => "/about.html"} - About
        %option{:value => "https://matchbox.spaces.nexudus.com/en/signup"} - Join
        %option{:value => "/acceleration"} - Acceleration
        %option{:value => "#contact"} - Contact
  / ./sixteen columns
/ ./container

