/ CSS for pricing table
:css
  .pricing {
      font-family: "Montserrat", Gotham, sans-serif;
      text-align: center;
  }
  .pricing .teir {
      display: inline-block;
      vertical-align: top;
      margin: 2%;
      min-width: 200px;
  }
  .pricing .teir.main {
      min-width: 300px;
      margin-top: 0;
  }
  .pricing .teir.main header {
      font-size: 25px;
      line-height:30px;
      height:60px;
  }
  .pricing .teir.main .content li {
      font-size: 20px;
  }
  .pricing .teir.main .cost {
      font-size: 18px;
  }
  .pricing .teir.main .cost strong {
      font-weight: 700;
      font-size: 30px;
  }
  .pricing .teir.main .cost .dollar {
      font-size: 18px;
      padding: 2px;
      vertical-align: top;
  }
  .pricing .teir.main .cost small {
      font-size: 15px;
  }
  .pricing .cost {
      font-family: "Source Sans Pro", sans-serif;
      margin: 15%;
      white-space: nowrap;
      font-size: 15px;
  }
  .pricing .cost strong {
      font-family: "Montserrat", Gotham, sans-serif;
      font-weight: 400;
      font-size: 20px;
      vertical-align: middle;
  }
  .pricing .cost .text {
      vertical-align: middle;
  }
  .pricing .cost .dollar {
      font-size: 14px;
      padding: 2px;
      vertical-align: top;
  }
  .pricing .cost small {
      font-size: 11px;
  }
  .pricing .box {
      text-align: center;
      min-width: 150px;
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
      margin-top: 25px;
  }
  .pricing .box header {
      font-weight: 400;
      font-size: 20px;
      color: #fff;
      background: #000;
      height: 40px;
      line-height: 20px;
      padding: 5%;
  }
  .pricing .box .content {
      font-family: "Source Sans Pro", sans-serif;
      list-style: none;
      margin: 0;
      padding: 2% 20%;
      font-weight: 300;
      min-height: 120px;
  }
  .pricing .box .content li {
      line-height: 1.5em;
      font-size: 15px;
  }

.container
  %h2.sixteen.columns.message-block
    %a.button.mbxred{:href => "#app", :onclick => "return manageSection('membershipApplication');return false"}
      Apply to become a member
    Limited spots by application only.
  
  / Pricing tiers
  %br.clear
  .sixteen.columns
    .pricing
      .main.teir
        #basic.box
          %header BASIC
          %ul.content
            %li New Desk Each Visit
            %li Gigabit Fiber
            %li Wireless
            %li 24/7 Access
            %li Coffee Bar &amp; Snacks
            %li Event Access
            %li Conference Rooms
            %li Lockers
        .cost
          %span.dollar $
          %strong 360
          %span.text /member/year
          %br
          %br
          %small [+ $99 setup fee]
        .cost
      .teir
        #basic.box
          %header RESERVED*
          %ul.content
            %li BASIC+
            %li Reserved Desk
            %li Reserved Chair
            %li Personal Cabinet
            %li 1Gb Port
        .cost
          %span.dollar $
          %strong 150
          %span.text /member/month
          %br
          %small [billed monthly, requires BASIC]
          %br
          %br
          %small *limited spots available.
      .teir
        #basic.box
          %header LAB
          %ul.content
            %li BASIC+
            %li Shop Access
            %li 3D Printing
            %li Laser Cutting
            %li Tools
        .cost
          %span.dollar $
          %strong 25
          %span.text /member/month
          %br
          %small [billed monthly, requires BASIC]

  / Spacer between tiers and application
  %br.clear
  .sixteen.columns
    %hr

  / Application
  %section#app
    .sixteen.columns
      #membershipApplication.collapsed
        %h3 How does this work?
        %ol
          %li
            Fill out the app below carefully and completely
          %li
            We will review to make sure MatchBOX is a good fit for your needs.
            Either way, we'll email you within a couple weeks.
          %li
            If accepted, we will email you a membership agreement and set up an
            orientation

        %h3 Application:
        %form#membershipForm{:action => "thanks.php", :method => "post"}
          %label{:for => "appFullName"}
            Name
          %label#appFullNameError{:for => "appFullName", :style => "display: none;"}
            You've got a name, right? Put it here.
          %input#appFullName{:maxlength => "255", :name => "appFullName", :placeholder => "", :required => "", :type => "text"}/

          %label{:for => "appStreet"}
            Mailing Address
          %label#appStreetError{:for => "appStreet", :style => "display: none;"}
            We might want to send you a postcard from our vacation.
          %input#appStreet{:maxlength => "255", :name => "appStreet", :placeholder => "", :required => "", :type => "text"}/

          %label{:for => "appEmail"}
            Email
          %label#appEmailError{:for => "appEmail", :style => "display: none;"}
            No SPAM, we promise.
          %input#appEmail{:maxlength => "255", :name => "appEmail", :placeholder => "", :required => "", :type => "text"}/

          :css
            #other_email_label, #other_email {
                display: none;
            }
          %label#other_email_label{:for => "other_email"} Please leave blank:
          %input#other_email{:name => "other_email", :type => "text"}/

          %label{:for => "appMembershipType"}
            What type of membership are you interested in?
            %a{:href => "#services"} See pricing info
          %select#appMembershipType{:name => "appMembershipType"}
            %option Basic
            %option Reserved
            %option Workbench
          %hr

          %label{:for => "appJob"}
            What are you <em>currently</em> working on?
            %br
            (company name and current position if you have one)
          %label#appJobError{:for => "appJob", :style => "display: none;"}
            An idea, a company, a project, or the great american novel.
          %input#appJob{:maxlength => "255", :name => "appJob", :placeholder => "", :required => "", :type => "text"}/

          %label{:for => "appWork"}
            What do you hope to work on while in MatchBOX?
          %label#appWorkError{:for => "appWork", :style => "display: none;"}
            What's next that MatchBOX can help out with.
          %textarea#appWork{:maxlength => "4000", :name => "appWork"}

          %label{:for => "appOffer"}
            What do you have to offer the MatchBOX community?
            %br
            (What are you good at? What are you experienced in? Have you worked on anything we’d recognize?)
          %label#appOfferError{:for => "appOffer", :style => "display: none;"}
            Everybody brings something to the table. What's yours?
          %textarea#appOffer{:maxlength => "4000/", :name => "appOffer"}
          %hr

          %label{:for => "appHear"}
            How did you hear about us?
            %br
            (If you were referred by a current member, please tell us who)
          %label#appHearError{:for => "appHear", :style => "display: none;"}
            Twitter, Facebook, or maybe you talked to a real human being?
          %input#appHear{:maxlength => "255", :name => "appHear", :placeholder => "", :required => "", :type => "text"}/

          %label{:for => "appRelationship"}
            Tell us anything else we should know- impress us. Do you have an
            online presence or examples of your past work?
          %label#appRelationshipError{:for => "appRelationship", :style => "display: none;"}
            Here's your chance to show off a little.
          %textarea#appRelationship{:maxlength => "4000/", :name => "appRelationship"}
          %label#appPromiseError{:for => "appPromise", :style => "display: none;"}
            We need you to check this little box. Is that too much to ask?

          %input#appPromise{:name => "appPromise", :required => "", :type => "checkbox"}/
          %label
            I promise all this info above is true. I also understand that not
            all applicants will be offered membership, and trust there are good
            folks making these difficult decisions carefully. I promise to
            harbor no hard feelings and won’t egg their cars.
          %br
          %label#appErrorMessage{:style => "display: none;"}
            It looks like there was a problem. Check above.

          %a.button.mbxred{:href => "#", :onclick => "validateMembershipApp();return false"}
            Submit

