/ CSS for pricing table
/ TODO: should be moved into its own file and linked
:css
  .pricing {
      font-family: "Montserrat", Gotham, sans-serif;
      text-align: center;
  }
  .pricing .teir {
      display: inline-block;
      vertical-align: top;
      margin: 2%;
      min-width: 200px;
  }
  .pricing .teir.main {
      min-width: 300px;
      margin-top: 0;
  }
  .pricing .teir.main header {
      font-size: 25px;
      line-height:30px;
      height:60px;
  }
  .pricing .teir.main .content li {
      font-size: 20px;
  }
  .pricing .teir.main .cost {
      font-size: 18px;
  }
  .pricing .teir.main .cost strong {
      font-weight: 700;
      font-size: 30px;
  }
  .pricing .teir.main .cost .dollar {
      font-size: 18px;
      padding: 2px;
      vertical-align: top;
  }
  .pricing .teir.main .cost small {
      font-size: 15px;
  }
  .pricing .cost {
      font-family: "Source Sans Pro", sans-serif;
      margin: 15%;
      white-space: nowrap;
      font-size: 15px;
  }
  .pricing .cost strong {
      font-family: "Montserrat", Gotham, sans-serif;
      font-weight: 400;
      font-size: 20px;
      vertical-align: middle;
  }
  .pricing .cost .text {
      vertical-align: middle;
  }
  .pricing .cost .dollar {
      font-size: 14px;
      padding: 2px;
      vertical-align: top;
  }
  .pricing .cost small {
      font-size: 11px;
  }
  .pricing .box {
      text-align: center;
      min-width: 150px;
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
      margin-top: 25px;
  }
  .pricing .box header {
      font-weight: 400;
      font-size: 20px;
      color: #fff;
      background: #000;
      height: 40px;
      line-height: 20px;
      padding: 5%;
  }
  .pricing .box .content {
      font-family: "Source Sans Pro", sans-serif;
      list-style: none;
      margin: 0;
      padding: 2% 20%;
      font-weight: 300;
      min-height: 120px;
  }
  .pricing .box .content li {
      line-height: 1.5em;
      font-size: 15px;
  }

.container
  %h2.sixteen.columns.message-block
    %a.button.mbxred{:href => "/apply.html"}
      Apply to become a member
    Limited spots by application only.
  
  / Pricing tiers
  %br.clear
  .sixteen.columns
    .pricing
      .main.teir
        #basic.box
          %header BASIC
          %ul.content
            %li New Desk Each Visit
            %li Gigabit Fiber
            %li Wireless
            %li 24/7 Access
            %li Coffee Bar &amp; Snacks
            %li Event Access
            %li Conference Rooms
            %li Lockers
        .cost
          %span.dollar $
          %strong 499
          %span.text /member/year
          %br
          %br
          %small [+ $99 setup fee]
        .cost
      .teir
        #basic.box
          %header RESERVED*
          %ul.content
            %li BASIC+
            %li Reserved Desk
            %li Reserved Chair
            %li Personal Cabinet
            %li 1Gb Port
        .cost
          %span.dollar $
          %strong 199
          %span.text /member/month
          %br
          %small [billed monthly, requires BASIC]
          %br
          %br
          %small *limited spots available.
      .teir
        #basic.box
          %header LAB
          %ul.content
            %li BASIC+
            %li Shop Access
            %li 3D Printing
            %li Laser Cutting
            %li Tools
        .cost
          %span.dollar $
          %strong 25
          %span.text /member/month
          %br
          %small [billed monthly, requires BASIC]


