.sixteen.columns{:style => "margin:0"}
  .pricing{:style => "display: flex; flex-direction: row;"}
    .main.teir{:style => "flex-basis: 35%; padding-top: 192px;"}
      #basic.box
        %header{:style => "padding: 16px;"} BASIC
        %ul.content
          %li New Desk Each Visit
          %li Gigabit Fiber
          %li Wireless
          %li 24/7 Access
          %li Coffee Bar &amp; Snacks
          %li Event Access
          %li Conference Rooms
          %li Maker LAB Access
          %li{:style => "white-space: nowrap;"} 3D Printing, Laser Cutting
      .cost
        %span.dollar $
        %strong 499
        %span.text /member/year
        %br
        %small{:style => "font-size: 11px;"} Paid annually or quarterly
        %br
        %small [+ $99 setup fee]
      .cost
    .teir.startup-special
      %img{:src => "assets/img/startup-special.png"}
      %p.blue <b style="font-weight:600">We know how tight funding can get, and we want to help.</b><br> <br> While desks are available and only for entrepreneurs paying for their own desks.
      #basic.box
        %header RESERVED*
        %ul.content
          %li BASIC+
          %li Reserved Desk
          %li Reserved Chair
          %li Personal Cabinet
          %li 1Gb Port
      .cost
        %span.dollar $
        %strong 199
        %span.text /member/month
        %br
        %small [billed monthly, requires BASIC]
        %br
        %br
        %small *limited spots available.
      %img.off-25{:src => "assets/img/25off.png"}
      %img.red-price{:src => "assets/img/150.png"}
      %small{:style => "font-family:'Source Sans Pro', sans-serif; font-size:11px; color:#ed5348"} /member/month <br> [billed monthly, requires BASIC] <br><br> *limited desks available while they last. <br> Sign up during this limited time and lock in this rate for the life of your membership.
    .teir{:style => "flex-basis: 35%; padding-top:212px;"}
      #basic.box
        %header DAY PASSES
        %ul.content
          %li Available M - F, 8a - 5p
          %li Shared Space or Reserved
          %li{:style => "white-space: nowrap;"} Advanced Booking Required
          %li <a href="mailto:hello@matchboxstudio.org">hello@matchboxstudio.org</a>
      .cost
        %span.dollar $
        %strong 10
        %span.text /day/shared space
        %br
        %span.dollar $
        %strong 20
        %span.text /day/reserved desk**
        %br
        %br
        %small *requires one business day's notice
        %br
        %small **limited spots available