.container
  %h2.sixteen.columns.message-block
    %a.button.mbxred{:href => "/apply.html"} Join
    Limited spots by application only.
  
  / Pricing tiers
  %br.clear
  = include 'partials/pricing.haml'


