.sixteen.columns
  .pricing
    .main.teir
      #basic.box
        %header BASIC
        %ul.content
          %li New Desk Each Visit
          %li Gigabit Fiber
          %li Wireless
          %li 24/7 Access
          %li Coffee Bar &amp; Snacks
          %li Event Access
          %li Conference Rooms
          %li Lockers
      .cost
        %span.dollar $
        %strong 499
        %span.text /member/year
        %br
        %br
        %small [+ $99 setup fee]
      .cost
    .teir
      #basic.box
        %header RESERVED*
        %ul.content
          %li BASIC+
          %li Reserved Desk
          %li Reserved Chair
          %li Personal Cabinet
          %li 1Gb Port
      .cost
        %span.dollar $
        %strong 199
        %span.text /member/month
        %br
        %small [billed monthly, requires BASIC]
        %br
        %br
        %small *limited spots available.
    .teir
      #basic.box
        %header LAB
        %ul.content
          %li BASIC+
          %li Shop Access
          %li 3D Printing
          %li Laser Cutting
          %li Tools
      .cost
        %span.dollar $
        %strong 25
        %span.text /member/month
        %br
        %small [billed monthly, requires BASIC]