
:css
  .user, .interact {
      display:none;
  }
  
  .panel-wrap {
      position: relative;
      overflow: hidden;
      padding: 36px 0 54px 0;
  }
  
  .container .one-third.column {
      width: 300px;
  }
  .tweet {
      height:50px;
  }
  
  .container .column, .container .columns {
      float: left;
      display: inline;
      margin-left: 10px;
      margin-right: 10px;
  }
.container
  .panel-wrap
    %h3 Fellow members:
    .eight.columns
      :markdown
        Revisioning the concept of traditional work environments and moving to a
        collaborative space has been an amazing opportunity for our organization to
        remain engaged with our constituents and expand our connections in the
        community.

        &mdash;Kitty Campbell



        "MatchBOX is helping my company (One Fact) survive and prosper.  The affordable
        space is only the start.  It is the connection with the other co-coworkers that
        is proving helpful.  MatchBOX gets a share of credit for any success One Fact
        sees in 2017!”

        &mdash;Cortland Starrett



        MatchBOX is where I met some of my newest best friends, Amanda, Emily, Matt,
        Ed, and sometimes Ryan. It's conveniently located near Kathy's candies and a
        bunch of places to get drinks during lunch. Not a great place to get work done
        if you're friendly and distractible, but still definitely worth joining. Could
        use a couple more Pokestops though.

        &lt;3 Austin Toombs


    .eight.columns
      :markdown
        MatchBOX has provided an incredible opportunity for getting my work done,
        collaborating with others (at least 4 projects so far), hosting meetings for
        organizations I'm part of, and meeting other independent contractors in the
        area. The feel and ambience of the place just adds to the fabulous workplace --
        not to mention the coffee and snacks! I have friends around the country who are
        jealous of our MatchBox space.

        &mdash;Johanna Merritt Wu



        My Enactus Purdue team got a tour of this studio recently. The environment is
        outstandingly innovative! Everyone there is incredibly friendly and hospitable
        and passionate about what they are doing. What a great place to see opportunity
        in the city of Lafayette!

        &mdash;Acaimie Catron (from Facebook)



        There is such a positive, creative vibe to this space. I participated in
        Lafayette Writers' Studio events and classes at MatchBOX fall, 2016. It is easy
        to access, convenient to downtown Lafayette and parking is not difficult in its
        area of town.

        &mdash;Sandra B. (from Yelp)
    %span.toggle
      %i.icon-minus

