/ Supporting styles and JS code for the sponsorship carousel
:css
  .carousel {
      overflow:hidden;
      position:relative;	
  }
  .carousel ul {
      width: 100%;
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  .carousel li {
      display:inline-block;
      float:left;
      text-align:center;
  }
:javascript
  $(document).ready(function() {
      var width = $(".carousel ul").width();
      $(".carousel ul").width(width*$(".carousel li").length);
      $(".carousel li").each(function(i, elem) {
          $(elem).width(width);
      });
      var i = 0;
      function slide() {
          setTimeout(function() {
              i++;
              if(i==$(".carousel li").length) {
                  i=0;
              }
              $(".carousel ul").animate({left:  -1*width*i}, 500, function() {
                  slide();
              });
          }, 2000);
      }
      slide();
  });

.container
  .sixteen.columns
    .heading
      %h3
        %br
        %br
        With a little help from our friends
    .carousel
      %ul
        %li
          %img{:alt => "Sponsor", :src => "assets/img/1st-Source.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/Alcoa.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/catpllr.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/Centier_Bank.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/Cook_Medical.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/CopperMoon.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/Duke.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/First-Financial.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/Foundry.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/FreshCity.png"}/
        %li
          %img{:alt => "Sponsor\"", :src => "assets/img/OldNationalBank.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/GLC.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/Gutwein.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/HarborFreight.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/Henriott.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/Huth-Thompson.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/Ivy-Tech.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/Kettlehut.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/Kirby-Risk.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/Laf-Community-Bank.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/LafayetTECH.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/LafayetteLogo.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/lg_wintek.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/LUEA.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/MBAH.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/Nanshan.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/School-Datebooks.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/SIA-logo-black-copy.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/Stormfront_logo.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/Stuart-and-Branigin.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/Tate-and-Lyle.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/TBIRD-Logo.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/TCPL.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/Tippecanoe-County-Logo.png"}/
        %li
          %img{:alt => "Sponsor", :src => "assets/img/Wabash.png"}/
