.sponsors.container
  .sixteen.columns
    %h2.message-block Made with a little help from our <span>friends</span>:
    %ul
      - YAML.load_file('partials/sponsors.yaml').each do |s|
        %li
          %img{:src => s['img'], :alt => s['name']}
