<div class='sponsors container'>
  <div class='sixteen columns'>
    <div class='heading'>
      <h3>With a little help from our friends</h3>
    </div>
    <ul>
      <li>
        <img alt='1st Source' src='assets/img/1st-Source.png'>
      </li>
      <li>
        <img alt='Alcoa' src='assets/img/Alcoa.png'>
      </li>
      <li>
        <img alt='Caterpiller' src='assets/img/catpllr.png'>
      </li>
      <li>
        <img alt='Centier Bank' src='assets/img/Centier_Bank.png'>
      </li>
      <li>
        <img alt='City of Lafayette' src='assets/img/LafayetteLogo.png'>
      </li>
      <li>
        <img alt='Cook Medical' src='assets/img/Cook_Medical.png'>
      </li>
      <li>
        <img alt='Copper Moon' src='assets/img/CopperMoon.png'>
      </li>
      <li>
        <img alt='Duke Energy' src='assets/img/Duke.png'>
      </li>
      <li>
        <img alt='First Financial Bank' src='assets/img/First-Financial.png'>
      </li>
      <li>
        <img alt='Fresh City Market' src='assets/img/FreshCity.png'>
      </li>
      <li>
        <img alt='Greater Lafayette Commerce' src='assets/img/GLC.png'>
      </li>
      <li>
        <img alt='Gutwein Law' src='assets/img/Gutwein.png'>
      </li>
      <li>
        <img alt='Harbor Freight Tools' src='assets/img/HarborFreight.png'>
      </li>
      <li>
        <img alt='Henriott Group' src='assets/img/Henriott.png'>
      </li>
      <li>
        <img alt='Huth Thompson' src='assets/img/Huth-Thompson.png'>
      </li>
      <li>
        <img alt='Ivy Tech Community College' src='assets/img/Ivy-Tech.png'>
      </li>
      <li>
        <img alt='Kettelhut Construction' src='assets/img/Kettlehut.png'>
      </li>
      <li>
        <img alt='Kirby Risk' src='assets/img/Kirby-Risk.png'>
      </li>
      <li>
        <img alt='LUEA' src='assets/img/LUEA.png'>
      </li>
      <li>
        <img alt='Lafayettech' src='assets/img/LafayetTECH.png'>
      </li>
      <li>
        <img alt='Lafayette Community Bank' src='assets/img/Laf-Community-Bank.png'>
      </li>
      <li>
        <img alt='MBAH Insurance' src='assets/img/MBAH.png'>
      </li>
      <li>
        <img alt='Nanshan America' src='assets/img/Nanshan.png'>
      </li>
      <li>
        <img alt='Old National Bank' src='assets/img/OldNationalBank.png'>
      </li>
      <li>
        <img alt='Purdue Foundry' src='assets/img/Foundry.png'>
      </li>
      <li>
        <img alt='SIA' src='assets/img/SIA-logo-black-copy.png'>
      </li>
      <li>
        <img alt='School Datebooks' src='assets/img/School-Datebooks.png'>
      </li>
      <li>
        <img alt='Stormfront' src='assets/img/Stormfront_logo.png'>
      </li>
      <li>
        <img alt='Stuart and Branigin' src='assets/img/Stuart-and-Branigin.png'>
      </li>
      <li>
        <img alt='TBIRD' src='assets/img/TBIRD-Logo.png'>
      </li>
      <li>
        <img alt='Tate and Lyle' src='assets/img/Tate-and-Lyle.png'>
      </li>
      <li>
        <img alt='Tippecanoe County' src='assets/img/Tippecanoe-County-Logo.png'>
      </li>
      <li>
        <img alt='Tippecanoe County Public Library' src='assets/img/TCPL.png'>
      </li>
      <li>
        <img alt='Wabash National' src='assets/img/Wabash.png'>
      </li>
      <li>
        <img alt='Wintek'>
      </li>
    </ul>
  </div>
</div>
