.sponsors.container
  .sixteen.columns
    .heading
      %h3 With a little help from our friends
    %ul
      - YAML.load_file('partials/sponsors.yaml').each do |s|
        %li
          %img{:src => s['img'], :alt => s['name']}
