!!!
%html{:lang => "en"}
  %head
    %title MatchBOX - Coworking Studio - A shared place to work and create in Lafayette, Indiana
    =include 'partials/base_head.haml'

  %body
    / Anchor for scrolling to top
    #up

    / Menu
    %section.container
      .sixteen.columns.clearfix
        %h1.logo
          %a{:href => "/"}
            %img{:alt => "MatchBOX logo", :src => "assets/img/theme/logo.png"}/
        %nav.menu-holder
          %ul.menu-list
            %li
              %a{:href => "/"}
                Home
                %span.arrow
            %li.active
              %a{:href => "/about.html"}
                About
                %span.arrow
            %li
              %a{:href => "/#services"}
                Join
                %span.arrow
            %li
              %a{:href => "/apply.html"}
                Apply
                %span.arrow
            %li
              %a{:href => "/#contact"}
                Contact
                %span.arrow
            / Slide panel toggle
            %li.toggle-panel
              %a.closed{:href => "#"}
                %i.icon-plus
                %span.arrow
      / ./sixteen columns
    / ./container



    / Page body
    #container.page-wrapper

      .container

        / Spacer between tiers and application
        %br.clear
        .sixteen.columns

        / Video
        .container
          .sixteen.columns
            %h2 About

            .videoWrapper
              %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/76968901", :style => "width:100%; height:92%;", :webkitallowfullscreen => ""}

        .container.about-paragraphs
          .eight.columns
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta semper convallis. Proin viverra augue in lobortis fermentum. Sed interdum congue ex ac condimentum. Nulla facilisi. Nullam nisi dui, efficitur id commodo eget, suscipit vel sapien. Sed porta augue in risus malesuada dapibus. Donec leo purus, rutrum sed dapibus a, placerat non purus. Duis suscipit feugiat dignissim.

            %p Vivamus pellentesque sed mi quis accumsan. Donec volutpat hendrerit ex ut sagittis. Nullam at velit sed libero mattis euismod. Vivamus odio lectus, viverra sed sapien vel, porttitor iaculis risus. Sed eget turpis nunc. Cras porta pellentesque imperdiet. Phasellus fringilla accumsan nibh sed porta. Sed ac molestie massa.

            %p Morbi leo purus, sollicitudin vitae ipsum sit amet, volutpat dignissim ante. Donec tincidunt nec urna in rutrum. Duis gravida nisi lacus. Nam feugiat, arcu quis egestas convallis, purus turpis consequat sapien, id iaculis ligula elit sed nulla. Nam cursus tincidunt nisl sit amet luctus. Nullam metus justo, aliquet id leo sit amet, accumsan dapibus nisl. Nam faucibus diam vel lobortis congue. Nullam elementum magna eget odio semper, et malesuada libero euismod. Vestibulum sed mollis ligula. Mauris sed turpis a ex commodo viverra. Nulla facilisi.

            %p Morbi augue sem, feugiat id nunc posuere, convallis vehicula nisi. Phasellus bibendum arcu ut magna scelerisque ullamcorper. Donec dapibus viverra convallis. Mauris vel lectus ac purus dapibus vehicula. Donec fermentum convallis justo ut fermentum. Aliquam volutpat nunc volutpat convallis congue. Aliquam sed dolor euismod, auctor dolor in, blandit massa. Nulla a dui neque. Maecenas feugiat lacus nec velit posuere, aliquam laoreet quam facilisis. Praesent vitae maximus erat, vitae facilisis nisl.

          .eight.columns
            %p Proin cursus viverra augue eu porta. Pellentesque efficitur accumsan dignissim. Morbi tortor ligula, gravida varius mattis tincidunt, tempus in neque. Etiam metus mi, convallis tempor posuere vitae, laoreet eu purus. Integer dignissim tortor vel elementum ultrices. Vivamus quis dui ut enim lacinia cursus at id justo. Nulla diam justo, rutrum in metus ac, pharetra feugiat nulla. Cras in lacus viverra, viverra nulla ut, tempus lacus. Morbi ligula justo, sollicitudin vitae consequat a, dignissim sit amet arcu. Aliquam a arcu ac mi luctus luctus et eget neque. Morbi facilisis tortor id leo auctor, et condimentum ex euismod. Ut pulvinar leo in diam fringilla, sit amet porta lectus consectetur.

            %p Nullam finibus eget neque vitae dignissim. Maecenas commodo eros vel enim pretium, sed euismod est eleifend. Nunc sit amet ipsum iaculis, viverra tortor et, facilisis felis. Maecenas rhoncus posuere lacus vitae efficitur. Aenean malesuada id metus eget consequat. Nunc sed velit ut nisl tincidunt mollis. Maecenas pulvinar, turpis at porttitor accumsan, massa lorem cursus mauris, eget tincidunt neque erat a justo.

            .videoWrapper
              %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/158115953", :style => "width:100%; height:92%;", :webkitallowfullscreen => ""}

        / Spacer between tiers and application
        %br.clear
        .sixteen.columns
          %hr.width-100

        .container
          .eight.columns#imgCol1
          .eight.columns#imgCol2


    / Panel
    %section.slide-panel= include 'partials/slide-panel.haml'

    / Footer
    %section.footer
      .container
        .sixteen.columns
          MatchBOX Coworking Studio © All Rights Reserved

    / End Content

    / JS
    =include 'partials/body_scripts.haml'