h1 {
  font-family: Georgia, serif;
  font-size: 48px;
  margin:10px 10px 10px 10px;
  line-height: 1em;
  font-weight: normal;
  color:#aaaaaa;
  text-align:center;
}

h2 {
  font-family: Georgia, serif;
  font-size: 24px;
  margin:10px 10px 10px 10px;
  line-height: 1em;
  font-weight: normal;
  color:#aaaaaa;
  text-align:center;
}

h3 {
  font-family: Georgia, serif;
  font-size: 12px;
  margin:10px 10px 10px 10px;
  line-height: 1em;
  font-weight: normal;
  color:#aaaaaa;
  text-align:center;
}


p {
  margin:0;
  text-align:center;
}

a, a:visited {
  color:#aaaaaa;
}