!!!
%html{:lang => "en"}
  %head
    %title MatchBOX - Coworking Studio - A shared place to work and create in Lafayette, Indiana
    =include 'partials/base_head.haml'

  %body
    / Anchor for scrolling to top
    #up

    / Menu
    %section.container
      .sixteen.columns.clearfix
        %h1.logo
          %a{:href => "./"}
            %img{:alt => "MatchBOX logo", :src => "assets/img/theme/logo.png"}/
      / ./sixteen columns
    / ./container



    / Page body
    #container.page-wrapper

      / Spacer between tiers and application
      %br.clear
      .sixteen.columns
        %hr

      / Application
      =include 'partials/news-management.haml'

    / Footer
    %section.footer
      .container
        .sixteen.columns
          MatchBOX Coworking Studio © All Rights Reserved

    / End Content

    / JS
    =include 'partials/body_scripts.haml'
