!!!
%html{:lang => "en"}
  %head
    %title MatchBOX - Coworking Studio - A shared place to work and create in Lafayette, Indiana
    =include 'partials/base_head.haml'
  %body
    / Scrolling anchor
    #up

    %section.home
      .overlay
        .super
          %section#break4.para
            .container.message
              %p.quote-block
                Check your inbox. We sent you a little something just to make
                sure all the bits and bytes did their thing. We'll be in touch
                soon.
              %p
                Head back to <a href="/">our site</a> or, better yet, <br>
                go make something awesome.

    %section.menu=include 'partials/menu.haml'

    =include 'partials/body_scripts.haml'
