!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    /
      Basic Page Needs
      \==================================================
    %meta{:charset => "utf-8"}/
    %title Greater Lafayette Entrepreneurship Week | 2018
    %meta{:content => "Greater Lafayette Entrepreneurship Week | 2018", :name => "description"}/
    %meta{:content => "Entrepreneurship, coworking, co-working, cowork, co-work, office, shared, community, Lafayette, Indiana", :name => "keywords"}/
    %link{:href => "../favicon.ico", :rel => "shortcut icon"}/
    /
      Mobile Specific Metas
      \==================================================
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    /
      CSS
      \==================================================
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800|Oswald:400,300,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "../assets/css/supersized.css", :rel => "stylesheet"}/
    %link{:href => "../assets/css/supersized.shutter.css", :rel => "stylesheet"}/
    %link{:href => "../assets/css/base.css", :rel => "stylesheet"}/
    %link{:href => "../assets/css/font-awesome.css", :rel => "stylesheet"}/
    %link{:href => "../assets/css/skeleton.css", :rel => "stylesheet"}/
    %link{:href => "../assets/css/layout.css", :rel => "stylesheet"}/
    %link{:href => "../assets/css/entrepreneur.css", :rel => "stylesheet"}/
    %link{:href => "../assets/css/prettyPhoto.css", :rel => "stylesheet"}/
    / COLOR CSS
    %link#default{:href => "../assets/css/mbx.css", :rel => "stylesheet"}/
    / REVOLUTION BANNER CSS SETTINGS
    / <link rel="stylesheet" type="text/css" href="../assets/css/fullwidth.css" media="screen" />
    %link{:href => "../assets/rs-plugin/css/settings.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/

    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    /[if IE 7]
      <link rel="stylesheet" href="../assets/css/font-awesome-ie7.css">
      <style type="text/css">
      
      \.page-wrapper,.footer{
      width: 100%;
      position: relative;
      }
      \#break7{
      overflow: hidden;
      }
      
      </style>
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41745008-1', 'matchboxstudio.org');
      ga('send', 'pageview');
  %body#entrepreneur

    %fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=443709452332248";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));


    /
      Primary Page Layout
      \==================================================
    :javascript
      function moveTo(contentArea){
              	var goPosition = $(contentArea).offset().top - 73;
              	$('html,body').animate({ scrollTop: goPosition}, 'slow');
              }
    #up
    
    %section
      %img{:src => "../assets/img/entrepreneur/ent-week.png", :width => "100%"}

    %section.menu
      .container
        .sixteen.columns.clearfix{:style => "text-align: center;"}
          %nav.menu-holder
            %ul#main-menu.menu-list
              %li
                %a{:onclick => "moveTo('#monday-image')"}
                  Monday<br>
                  %span.day
                    10
                  %span.arrow
              %li
                %a{:onclick => "moveTo('#tuesday-image')"}
                  Tuesday<br>
                  %span.day
                    11
                  %span.arrow
              %li
                %a{:onclick => "moveTo('#wednesday-image')"}
                  Wednesday<br>
                  %span.day
                    12
                  %span.arrow
              %li
                %a{:onclick => "moveTo('#thursday-image')"}
                  Thursday<br>
                  %span.day
                    13
                  %span.arrow
              %li
                %a{:onclick => "moveTo('#friday-image')"}
                  Friday - Sunday<br>
                  %span.day
                    14 - 16
                  %span.arrow
            
            / SubMenu
            %select#subMenu.sub-menu{:name => "subMenu", :onchange => "moveTo(this.value)", :size => "1"}
              %option{:selected => "selected", :value => ""} Menu
              %option{:value => "#monday-image"} Monday the 10th
              %option{:value => "#tuesday-image"} Tuesday the 11th
              %option{:value => "#wednesday-image"} Wednesday the 12th
              %option{:value => "#thursday-image"} Thursday the 13th
              %option{:value => "#friday-image"} Friday 14th - Sunday 16th
        / ./sixteen columns
      / ./container
    / ./menu
    #container.page-wrapper
      %section#up.up
        .container.events{:style => "padding-top:100px"}
          / SECTION TITLE
          / .sixteen.columns.title
          / %img{:src => "../assets/img/entrepreneur/title.png"}

          .sixteen.columns
            %p{:style => "text-align:center; color:#999; font-size:24px;"}
              %b GREATER LAFAYETTE ENTREPRENEURSHIP WEEK
            %p{:style => "color:#999; font-size:18px;"}
              In celebration of the Greater Lafayette entrepreneurial ecosystem, MatchBOX Coworking Studio is hosting seven days of events surrounding tech and entrepreneurship. The week's events will feature special guests, unique events, and will focus on highlighting the local and regional resources for startups and entrepreneurs of all stripes.

            %p{:style => "color:#999; font-size:18px;"}
              GLEW will kick off with a T-6.6 Pitch Night, continue with office hours, workshops, panels, an evening outdoor Makers’ Market, and wrap with Greater Lafayette Startup weekend. Scroll through the days to see everything that’s happening. 

          / ./sixteen columns
        / ./container

        / PARALLAX
        %section#monday-image.monday.para
          .overlay
            .container.message
              %p.quote-block
                Monday
                %span
                  September 10th
        / END PARALLAX

        %section#monday.monday
          .container.events
            .sixteen.columns
              %h3.red-text OFFICE HOURS WITH RESULTS JUNKIES INVESTORS
              %p <b>Monday 9.10, scheduled through application</b> <br> MatchBOX Coworking Studio <br> 17 South 6th St., Lafayette
              %p Greater Lafayette founders are invited to apply to spend one-on-one time with Paul Singh and other startup investors / advisors. Paul is the former Managing Director of 1776, Founder of Disruption Corporation, Partner at 500Startups, and Entrepreneur in Resident at USCIS / DHS. Startups selected to participate will have the opportunity to pitch and receive feedback during their sessions with Paul and his guest investors. Everything shared in this conference room stays in the room.

              .link-container
                %a#see-inside.button.entred{:href => "https://docs.google.com/forms/d/1nA8KaBagts043uI5rt33JXTWYK5snV2nkw4kjTAMfcA/edit", :target => "_blank"} Apply for Office Hours

              %br>/
              %br>/
              %hr{:style => "width:100%"}
              %br>/

            .sixteen.columns
              %h3.red-text WOMENIN WINE WITH AMANDA FTG CHRISTINE DEEHRING
              %p <b>Monday 9.10, 6 pm – 7 pm</b> <br> MatchBOX Coworking Studio <br> 17 South 6th St., Lafayette
              %p WomenIN will host a Wine with Amanda Happy Hour prior to the kickoff of Greater Lafayette Entrepreneurship Week with special guest Christine Deehring, founder of Bump Boxes, in MatchBOX's Ivy Tech Room. All entrepreneurs are invited to join. This event is hosted by WomenIN, an effort of Purdue Foundry aimed at helping women entrepreneurs and women-led teams in Indiana launch their innovations into startups.
              
              %br>/
              %br>/
              %hr{:style => "width:100%"}
              %br>/

            .sixteen.columns
              %h3.red-text T-6.6 PITCH NIGHT
              %p <b>Monday 9.10, 7 pm – 9 pm</b> <br> MatchBOX Coworking Studio <br> 17 South 6th St., Lafayette
              %p If you're a hacker, hustler, or hipster (a developer, investor, or designer) that has a passion for startups, this event is for you. At T-6.6 you’ll hear the news and most exciting startup pitches from local entrepreneurs, innovators, and friends of MatchBOX. Participate in the conversation and meet other venture enthusiasts. Featuring local startup pitches and conversations with experienced entrepreneurs.
              
              .link-container
                %a#see-inside.button.entred{:href => "https://tminussept.eventbrite.com", :target => "_blank"} Register for Free Tickets
          / ./container

        / PARALLAX
        %section#tuesday-image.tueday.para
          .overlay
            .container.message
              %p.quote-block
                Tuesday
                %span
                  September 11th
        / END PARALLAX

        %section
          .container.events   
            .sixteen.columns
              %h3.red-text PURDUE RAILYARD TECH DAY
              %p <b>Tuesday 9.11, 8 am – 5 pm</b> <br> Purdue Railyard in the Kurz Purdue Technology Center <br> 1281 Win Hentschel Blvd., West Lafayette
              %p The Purdue Railyard, a coworking space in the Purdue Research Park, will host a technology showcase, special luncheon guests and food trucks.  

              %br/
              %br/
              %hr{:style => "width:100%"}
              %br/

            .sixteen.columns
              %h3.red-text WOMENIN BREAKFAST WITH CHRISTINE DEEHRING
              %p <b>Tuesday 9.11, 8:30 am – 10 am</b> <br> Burton D. Morgan Center for Entrepreneurship <br> 1201 West State St., West Lafayette
              %p Join us for a meet & greet and fireside chat with Christine Deehring, founder of Bump Boxes. Breakfast will be provided.  Email <a href="mailto:foundry@prf.org">foundry@prf.org</a> for more information or to RSVP. This event is hosted by WomenIN, an effort of Purdue Foundry aimed at helping women entrepreneurs and women-led teams in Indiana launch their innovations into startups.  

              %br/
              %br/
              %hr{:style => "width:100%"}
              %br/

            .sixteen.columns
              %h3.red-text HANDMADE TO BIG BOX
              %p <b>Tuesday 9.11, 11:30 am – 1:30 pm</b> <br> MatchBOX Coworking Studio <br> 17 S 6th St, Lafayette
              %p Handmade to Big Box Local features local artisans discussing how they took their designs / products from their local storefront to Big Box store. The panel features Lindsay Mason, founder of French Knot; Chris Johnson, owner at People’s Brewing Company; and Angela Taylor, owner at LaLa Gallery & Studio. 
              
              .link-container
                %a#see-inside.button.entred{:href => "https://www.facebook.com/events/1901822673458703/", :target => "_blank"} Details Here

              %br/
              %br/
              %hr{:style => "width:100%"}
              %br/

            .sixteen.columns
              %h3.red-text OFFICE HOURS WITH RESULTS JUNKIES INVESTORS 
              %p <b>Tuesday 9.11, scheduled through application </b> <br> MatchBOX Coworking Studio <br> 17 South 6th St., Lafayette
              %p Greater Lafayette founders are invited to apply to spend one-on-one time with Paul Singh and other startup investors / advisors. Paul is the former Managing Director of 1776, Founder of Disruption Corporation, Partner at 500Startups, and Entrepreneur in Resident at USCIS / DHS. Startups selected to participate will have the opportunity to pitch and receive feedback during their sessions with Paul and his guest investors. Everything shared in this conference room stays in the room.

              .link-container
                %a#see-inside.button.entred{:href => "https://docs.google.com/forms/d/1nA8KaBagts043uI5rt33JXTWYK5snV2nkw4kjTAMfcA/edit", :target => "_blank"} Apply for Office Hours
          / ./container

        / PARALLAX
        %section#wednesday-image.wednesday.para
          .overlay
            .container.message
              %p.quote-block
                Wednesday
                %span
                  September 12th
        / END PARALLAX

        %section
          .container.events
            .sixteen.columns
              %h3.red-text HABITS OF EFFECTIVE FREELANCERS
              %p <b>Wednesday 9.12, 9:30 am – 11:30 am</b> <br> MatchBOX Coworking Studio <br> 17 South 6th St., Lafayette
              %p This workshop aims to help freelancers tackle those sticky problems inherent in freelancing. Jason Tennenhouse of 10 IN HOUSE and Mikel Berger with DelMar Software Development and Little Engine Ventures will talk about streamlining the less exciting aspects of freelancing, working with multiple clients, and other strategies they’ve learned. 

              .link-container
                %a#see-inside.button.entred{:href => "https://www.facebook.com/events/216022529063661/", :target => "_blank"} Details Here

              %br/
              %br/
              %hr{:style => "width:100%"}
              %br/

            .sixteen.columns
              %h3.red-text WHAT VCS ARE LOOKING FOR
              %p <b>Wednesday 9.12, 12 pm – 1 pm</b> <br> Purdue Railyard in the Kurz Purdue Technology Center <br> 1281 Win Hentschel Blvd., West Lafayette
              %p Rich Redelfs will join us for a presentation and conversation on what appeals to venture capitalists, what doesn't, and how to position yourself to be in the former category instead of the latter. Rich is a General Partner with Silicon Valley venture capital firm Foundation Capital. Since joining the firm in 2004, his investments have focused in semiconductors, networking, and security. 

        / PARALLAX
        %section#thursday-image.thursday.para
          .overlay
            .container.message
              %p.quote-block
                Thursday
                %span
                  September 13th
        / END PARALLAX

        %section
          .container.events
            .sixteen.columns
              %h3.red-text MAKERS MARKET
              %p <b>Thursday 9.13 from 5 - 9 pm</b> <br> 5th Street, downtown Lafayette between Main and Columbia
              %p A mashup of a Maker Faire and the Farmers Market with opportunities meet and purchase from local and regional artisans, craftspeople, and makers of all types! Food trucks and entertainment and lots to see.

              .link-container
                %a#see-inside.button.entred{:href => "https://www.facebook.com/events/1007370479443863/", :target => "_blank"} Details Here

        / PARALLAX
        %section#friday-image.friday.para
          .overlay
            .container.message
              %p.quote-block
                Friday - Sunday
                %span
                  %span.no-wrap September 14th -
                  %span.no-wrap September 16th
        / END PARALLAX

        %section#summary.summary
          .container.events
            .sixteen.columns
              %h3.red-text GREATER LAFAYETTE STARTUP WEEKEND
              %p <b>Friday 9.14 from 8 am - 8 pm</b> <br> MatchBOX Coworking Studio <br> 17 South 6th St., Lafayette
              %p From ideas to startups in 50 unforgettable hours! Do you have an idea you'd like to pursue or a problem you'd like to solve but don't know where to start or who to start with? Greater Lafayette Startup Weekend is the place to look for a team, create a prototype of your idea, validate your business idea, and receive feedback from experienced entrepreneurs, all in one weekend.
              
              .link-container
                %a#see-inside.button.entred{:href => "https://glsw2018.eventbrite.com", :target => "_blank"} Buy Tickets Here

              %br/
              %br/
              %hr{:style => "width:100%"}
              %br/                

            .sixteen.columns
              %h3.red-text FRIDAY MORNING FOUNDRY GROUNDS
              %p <b>Friday 9.14 from 8:30 am - 10 am</b> <br> Burton D. Morgan Center for Entrepreneurship <br> 1201 West State St., West Lafayette
              %p Join the Purdue Foundry for conversation, presentation & networking focused on startups, ideas & entrepreneurship. Two-hour parking is available on State Street and event will take place in the cafe on the first floor of the Burton D. Morgan Center. 
              
              .link-container
                %a#see-inside.button.entred{:href => "https://purduefoundry.com/events", :target => "_blank"} Click Here For Details

        %section#contact
          .container
            .sixteen.columns.social
              .third
                %a{:href => "http://twitter.com/matchboxcowork"}
                  %i.icon-twitter
              .third
                %a{:href => "http://facebook.com/matchboxcowork"}
                  %i.icon-facebook
              .third
                %a{:href => "https://www.instagram.com/matchboxcowork/"}
                  %i.icon-instagram
            .sixteen.columns{:style => "padding-bottom: 25px;"}
              %p To share your ideas or contribute to the body of thought celebrating entrepreneurship in Greater Lafayette please email us at <a href="mailto:entrepreneur@matchboxstudio.org">entrepreneur@matchboxstudio.org</a>

        %section#facebook
          .container.events
            .sixteen.columns{:style => "text-align:center"}
              .fb-page{"data-href" => "https://www.facebook.com/matchboxcowork/", "data-tabs" => "timeline", "data-small-header" => "false", "data-width" => "960px", "data-adapt-container-width" => "true", "data-hide-cover" => "false", "data-show-facepile" => "true"}
                %blockquote.fb-xfbml-parse-ignore{:cite => "https://www.facebook.com/matchboxcowork/"}
                  %a{:href => "https://www.facebook.com/matchboxcowork/"}
                    MatchBOX

        / Contact
        %section#sponsors.contact
          = include 'glew/sponsors.haml'
    / ./page-wrapper

    / FOOTER
    %section.footer
      .container
        .sixteen.columns
          MatchBOX Coworking Studio © All Rights Reserved
    /
      End Document
      \==================================================
    /
      JS
      \==================================================
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js", :type => "text/javascript"}
    %script{:src => "../assets/js/jquery.scrollTo.min.js", :type => "text/javascript"}
    %script{:src => "../assets/js/jquery.localScroll.min.js", :type => "text/javascript"}
    %script{:src => "../assets/rs-plugin/js/jquery.themepunch.plugins.min.js", :type => "text/javascript"}
    %script{:src => "../assets/rs-plugin/js/jquery.themepunch.revolution.min.js", :type => "text/javascript"}
    %script{:src => "../assets/js/jquery.form.js"}
    %script{:src => "../assets/js/jquery.validate.min.js"}
    %script{:src => "../assets/js/scripts.js"}
    %script{:src => "../assets/js/supersized.3.2.7.js"}
    %script{:src => "../assets/js/supersized.shutter.min.js"}
    %script{:src => "../assets/js/jquery.prettyPhoto.js"}
    %script{:src => "../assets/js/main.js"}
