#intro-paragraph p{
    font-size: 26px;
    line-height: 28px !important;
    color: #594a42;
    background-color: #e8e9e9;
    padding: 30px 80px;
    font-family: Gotham, "Oswald", Helvetica, Arial, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.large-image-icon {
    margin: 20px 0px -40px 0px;
}

#text-block-1 {
    font-size: 26px;
    line-height: 28px !important;
    color: #006cac;
    font-family: Gotham, "Oswald", Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
}

#text-block-2 {
    font-size: 20px;
    line-height: 26px !important;
    color: #006cac;
    font-family: Gotham, "Oswald", Helvetica, Arial, sans-serif;
    margin: 18px;
}

#text-block-3 {
    font-size: 24px;
    line-height: 24px !important;
    color: #c92514;
    font-weight: bold;
    font-family: Gotham, "Oswald", Helvetica, Arial, sans-serif;
    margin: 18px 0px;
    text-align: center;
}

#dev-list-container {
    width: 70%;
    margin: 40px auto;
}

.dev-list {
    font-size: 48px;
    line-height: 50px !important;
    color: #006cac;
    font-family: "Bebas Neue", "Oswald", Helvetica, Arial, sans-serif;
    width: 50%;
}

.wisdom-script-font {
    font-size: 24px;
    line-height: 25px !important;
    color: #c92514;
    font-family: "Wisdom Script AI";
    margin: 8px 20px 0px 0px;
}

.duke-fill {
    font-size: 32px;
    line-height: 32px !important;
    color: #c92514;
    font-family: Duke, "Oswald", Helvetica, Arial, sans-serif;
}

.link-container {
  text-align:center;
  padding: 10px 0px;
  margin: 10px 0px 50px 0px;
}

.red-button {
    color: #FFF;
    padding: 18px 40px;
    font-size:20px;
    background-color: #c82827;
    border: #540700 1px solid;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    height: auto;
    box-shadow: #8e2514 0px -10px 20px inset, #c97d75 0px 10px 20px inset, 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.red-button:hover {
    box-shadow: #8e2514 0px 10px 20px inset, #c97d75 0px -10px 20px inset, 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;

}

.flex-row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align-items-flex-end {
    align-items: flex-end;
}

.align-items-stretch {
    align-items: stretch;;
}

.flex-wrap {
    flex-wrap: wrap;
}

#only-99 {
    margin-bottom: 70px;
}

#only-25 {
    margin-bottom: 70px;
}

#quote-block {
    background: url("../img/acceleration/quote.png") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 600px;
    position: relative;
}

#quote{
    position: relative;
    margin: 0 200px;
    font-size: 30px;
    line-height: 40px !important;
    color: #FFF;
    font-family: Gotham, "Oswald", Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 12px #666;
    text-align: center;
    padding-top: 200px;
}

#quoteTitle {
    position: relative;
    margin-right: 250px;
    font-size: 16px;
    color: #FFF;
    font-family: Gotham, "Oswald", Helvetica, Arial, sans-serif;
    text-align: right;
    padding-top: 50px;
}

#pre-footer {
    background: url("../img/acceleration/pre-footer-bg.png") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

#pre-footer .container {
    position: relative;
}

#pre-footer-text-block {
    color: white;
    font-size: 13px;
    line-height: 13px !important;
    font-family: Gotham, "Oswald", Helvetica, Arial, sans-serif;
}

#pre-footer-text-block p {
    margin-bottom: 0px;
}