!!!
%html{:lang => "en"}
  %head
    %title MatchBOX - Coworking Studio - A shared place to work and create in Lafayette, Indiana
    =include 'partials/base_head.haml'
    %link{:href => "../assets/css/acceleration.css", :rel => "stylesheet"}

  %body
    / Anchor for scrolling to top
    #up

    / Menu
    %section.container
      .sixteen.columns.clearfix
        %h1.logo
          %a{:href => "/"}
            %img{:alt => "MatchBOX logo", :src => "../assets/img/theme/logo.png"}/
        %nav.menu-holder
          %ul.menu-list
            %li
              %a{:href => "/"}
                Home
                %span.arrow
            %li.active
              %a{:href => "/about.html"}
                About
                %span.arrow
            %li
              %a{:href => "https://matchbox.spaces.nexudus.com/en/signup"}
                Join
                %span.arrow
            %li
              %a{:href => "/#contact"}
                Contact
                %span.arrow
            / Slide panel toggle
            %li.toggle-panel
              %a.closed{:href => "#"}
                %i.icon-plus
                %span.arrow
      / ./sixteen columns
    / ./container

    / Hero Image
    %section
      %img{:src => "../assets/img/acceleration/landing.png", :width => "100%"}

    / Intro paragraph
    %section.page-wrapper
      #intro-paragraph
        %p The new MatchBOX Acceleration Programs are early-stage, multi-sector programs designed to help founders develop and scale their business ideas. They are intended specifically for regional innovative entrepreneurs solving very focused problems in niche industries. The new programs are headquartered at MatchBOX, and are comprised of two major initiatives: The Entrepreneur Development Program is a twice a year 6-week class supporting the first time entrepreneur. The Venture Development Program is a 12-week once a year class focusing on growing nasacent ventures.

    #container.page-wrapper.flex-col#z-index
      / MBX Vent Dev Cohort Section
      %img.large-image-icon{:src => "../assets/img/acceleration/venture-development-cohort.png", :width => "60%"}

      .container.text-blocks
        %img#only-99{:src => "../assets/img/acceleration/only-99.png"}
        %p#text-block-1 A hands-on 12-week program for entrepreneurs and business owners to help them design their business models, build their brands, launch their products, and get their first sales. Learn from experts. Meet others like you.

        %p#text-block-3 All participants get FREE access to MatchBOX for the summer.

        .flex-row-space-between.align-items-stretch
          %img{:src => "../assets/img/acceleration/6-for-12.png", :width => "20%", :height => "20%"}
          %p#text-block-2 Six 2-week sprints learning from experts in their field. Our goal is to get you to YOUR goal, no matter what stage you are in. We are open to businesses of all types and sectors.


        .dev-list-container
          .dev-list-left
            %p.dev-list PRODUCT DEV
            %p.dev-list MARKET DEV
            %p.dev-list CUSTOMER DEV
          .dev-list-right
            %p.dev-list OPS & LEGAL
            %p.dev-list BIZ DEV
            %p.dev-list FUNDING

        .flex-row-center
          %p.wisdom-script-font Now taking applications
          %p.duke-fill LIMITED SPOTS AVAILABLE
        .link-container
          %a.red-button{:href => "https://docs.google.com/forms/d/e/1FAIpQLSfPmIZTjR2BpumadeLrVOaLlLTAmzpKgkAm09okECU7fkXb6A/viewform?usp=sf_link", :target => "_blank"} APPLY TO MBX ENT DEV

    %section.page-wrapper#quote-block-container
      / Text with image bg
      .container#quote-block
        .quote-div
          %p#quote “The Venture Dev series connected us with local mentors and a cohort of other entrepreneurs in Greater Lafayette who have helped us focus what our organization can and will be. We’ve made some pivots and are structuring the agency on a firm foundation because of exploration that happened during the workshops that MatchBOX provided.”
          %p#quoteTitle ~ Steven, 2018 Summer Cohort. CoFounder of Hustlefish

    #container.page-wrapper.flex-col
      / MBX Entrepreneur Development Cohort Section
      %img.large-image-icon{:src => "../assets/img/acceleration/entrepreneur-development-cohort.png", :width => "60%"}

      .container.text-blocks
        %img#only-25{:src => "../assets/img/acceleration/only-25.png"}
        %p#text-block-1 A hands-on 12-week program for first-time or early-stage entrepreneurs to help them learn about starting a business, their value propositions, and pitching to others. Come meet others like you and take things to the next level.

        %p#text-block-3 All participants get FREE access to MatchBOX for the 5 weeks.

        .dev-list-container
          .dev-list-left
            %p.dev-list BUSINESS MODELING
            %p.dev-list CUSTOMER FEEDBACK
            %p.dev-list PITCHING
          .dev-list-right
            %p.dev-list OFFICE HOURS
            %p.dev-list PEER MENTORING
            %p.dev-list 1:1 LAUNCHING

        .flex-row-center
          %p.wisdom-script-font Now taking applications
          %p.duke-fill LIMITED SPOTS AVAILABLE
        .link-container
          %a.red-button{:href => "https://docs.google.com/forms/d/e/1FAIpQLSe3KrBYxAfYP_z7uN4BA-CJNmA5_ZkS6Ev2GiVEKguhuTI4JA/viewform?usp=sf_linkm", :target => "_blank"} APPLY TO MBX ENT DEV
        
    / Large bottom image
    #container.page-wrapper#pre-footer
      / Pre footer stuff
      %img#logo-district{:src => "../assets/img/acceleration/logo-district.png"}
      #pre-footer-text-block.flex-col
        %p MatchBOX Coworking Studio, LLC
        %p 17 SOUTH 6TH ST. SUITE X, STEIN BLDG. LAFAYETTE, INDIANA 47901
        %p matchboxstudio.org   ACCELERATOR@MATCHBOXSTUDIO.ORG
      %img#logo-matchbox{:src => "../assets/img/acceleration/logo-matchbox.png"}

    / Footer
    %section.footer
      .container
        .sixteen.columns
          MatchBOX Coworking Studio © All Rights Reserved

    / End Content

    / JS
    =include 'partials/body_scripts.haml'