!!!
%html{:lang => "en"}
  %head
    %title MatchBOX - Coworking Studio - A shared place to work and create in Lafayette, Indiana
    =include 'partials/base_head.haml'
    %link{:href => "../assets/css/acceleration.css", :rel => "stylesheet"}

  %body
    / Anchor for scrolling to top
    #up

    / Menu
    %section.container
      .sixteen.columns.clearfix
        %h1.logo
          %a{:href => "/"}
            %img{:alt => "MatchBOX logo", :src => "assets/img/theme/logo.png"}/
        %nav.menu-holder
          %ul.menu-list
            %li
              %a{:href => "/"}
                Home
                %span.arrow
            %li.active
              %a{:href => "/about.html"}
                About
                %span.arrow
            %li
              %a{:href => "https://matchbox.spaces.nexudus.com/en/signup"}
                Join
                %span.arrow
            %li
              %a{:href => "/#contact"}
                Contact
                %span.arrow
            / Slide panel toggle
            %li.toggle-panel
              %a.closed{:href => "#"}
                %i.icon-plus
                %span.arrow
      / ./sixteen columns
    / ./container

    / Hero Image
    %section
      %img{:src => "../assets/img/acceleration/landing.png", :width => "100%"}

    / Intro paragraph
    %section
      #intro-paragraph
        %p The new MatchBOX Acceleration Programs are early-stage, multi-sector programs designed to help founders develop and scale their business ideas. They are intended specifically for regional innovative entrepreneurs solving very focused problems in niche industries. The new programs are headquartered at MatchBOX, and are comprised of two major initiatives: The Entrepreneur Development Program is a twice a year 6-week class supporting the first time entrepreneur. The Venture Development Program is a 12-week once a year class focusing on growing nasacent ventures.

    #container.page-wrapper
      / MBX Vent Dev Cohort Section
      .container
        cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe

    %section
      / Text with image bg
      .container
        cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe

    #container.page-wrapper
      / MBX Vent Dev Cohort Section
      .container
        cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe
        
    / Large bottom image
    %section
      / Pre footer stuff
      .container
        cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe cdcwecwecwe

    / Panel
    %section.slide-panel= include 'partials/slide-panel.haml'

    / Footer
    %section.footer
      .container
        .sixteen.columns
          MatchBOX Coworking Studio © All Rights Reserved

    / End Content

    / JS
    =include 'partials/body_scripts.haml'