%html
  - url = "https://docs.google.com/a/matchboxstudio.org/forms/d/1cD-5ZI8jp9iTup4IJt9eN9nkLZ4xZQ3MtgF9UEM1t1Q"
  %head
    %meta{"http-equiv": "refresh", content: "0; " + url}
  %body
    Redirecting to
    %a{href: url} #{url}.
