!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    /
      Basic Page Needs
      \==================================================
    %meta{:charset => "utf-8"}/
    %title Greater Lafayette Entrepreneurship Week | 2017
    %meta{:content => "Greater Lafayette Entrepreneurship Week | 2017", :name => "description"}/
    %meta{:content => "Entrepreneurship, coworking, co-working, cowork, co-work, office, shared, community, Lafayette, Indiana", :name => "keywords"}/
    %link{:href => "../favicon.ico", :rel => "shortcut icon"}/
    /
      Mobile Specific Metas
      \==================================================
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    /
      CSS
      \==================================================
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800|Oswald:400,300,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "../assets/css/supersized.css", :rel => "stylesheet"}/
    %link{:href => "../assets/css/supersized.shutter.css", :rel => "stylesheet"}/
    %link{:href => "../assets/css/base.css", :rel => "stylesheet"}/
    %link{:href => "../assets/css/font-awesome.css", :rel => "stylesheet"}/
    %link{:href => "../assets/css/skeleton.css", :rel => "stylesheet"}/
    %link{:href => "../assets/css/layout.css", :rel => "stylesheet"}/
    %link{:href => "../assets/css/lab.css", :rel => "stylesheet"}/
    %link{:href => "../assets/css/prettyPhoto.css", :rel => "stylesheet"}/
    / COLOR CSS
    %link#default{:href => "../assets/css/mbx.css", :rel => "stylesheet"}/
    / REVOLUTION BANNER CSS SETTINGS
    / <link rel="stylesheet" type="text/css" href="../assets/css/fullwidth.css" media="screen" />
    %link{:href => "../assets/rs-plugin/css/settings.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/

    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    /[if IE 7]
      <link rel="stylesheet" href="../assets/css/font-awesome-ie7.css">
      <style type="text/css">
      
      \.page-wrapper,.footer{
      width: 100%;
      position: relative;
      }
      \#break7{
      overflow: hidden;
      }
      
      </style>
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41745008-1', 'matchboxstudio.org');
      ga('send', 'pageview');
  %body#lab

    %fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=443709452332248";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));


    /
      Primary Page Layout
      \==================================================
    :javascript
      function moveTo(contentArea){
              	var goPosition = $(contentArea).offset().top - 73;
              	$('html,body').animate({ scrollTop: goPosition}, 'slow');
              }
    
    %section#header
      .hero__header__container
        %h1.hero__header__logo MatchBOX Studio
        .maker-container{:style => "position:relative; text-align: center;"}
          %img.maker-image{:src => "../assets/img/maker.png"}
        .lab-container{:style => "position:relative; text-align: center;"}
          %img.lab-image{:src => "../assets/img/lab2.png"}
      %img{:src => "../assets/img/lab.png", :width => "100%"} 

    #container.page-wrapper{:style => "overflow: visible;"}
      %section{:style => "background-color:#dae1ec; box-shadow: 0px 5px 6px #a7a7a7; position:relative"}
        
        .container
          / SECTION TITLE
          .sixteen.columns
            %img.burst{:src=>"/assets/img/burst3.png", :style=>"transform: rotate(12deg);"}
            %div.lab-membership
              %img{:src => "../assets/img/mbx-maker-lab-small.png"}
            %p Our Rapid Prototyping Lab is a collection of some of the newest and most advanced rapid prototyping tools available to you 24-hours/day- and it’s right inside MatchBOX
      %section
        .container
          .sixteen.columns.body
            .sixteen.columns{:style => "margin: 0;"}
              %p{:style => "font-size:20px;"}
                %b Tinkerers, Makers, Entrepreneurs, Artisans, and Creative Constructivists of all Types:
            .ten.columns{:style => "margin: 0; text-align:justify"}
              %p{:style => "font-size:16px;"}
                We’re here for you if you need a place to build a prototype for your startup business, you’re a hobbyist looking for a place to build, you’re brand new to 3D rapid prototyping and want to learn from scratch, or you’d just like to find others in our community interested in the same things as you with access 24-hours a day.
              %p{:style => "font-size:16px;"}
                Thanks to our generous sponsors, we are able to offer FREE office hours with our expert staff of makers to learn and ask questions as well as FREE workshops, events, and weekly programs.
              %p{:style => "font-size:16px;"}
                Access to the MBX Maker LAB is now included in the cost of Basic Membership, giving you access to all of this plus 24/7 access to 10,000 square feet of shared workspace, fast wifi, coffee & snacks, access to meeting rooms, and more.
            .six.columns.list-section
              %ul
                %li EMBER SLA 3D PRINTERS
                %li AIR WOLF FDM 3D PRINTER
                %li DELTA 3-AXIS 3D PRINTER
                %li CARVEY DESKTOP CNC
                %li CLASS C 40” LASER CUTTER
                %li VACUUM FORMER RIG
                %li PROGRAMMABLE EMBROIDERER
                %li ELECTRONICS COMPONENTS LIBRARY
                %li DESKTOP SPRAY BOOTH
                %li AND LOTS MORE!

          .sixteen.columns
            

          / ./sixteen columns
        / ./container

        / Contact
        %section#color-sponsors
          = include 'lab/color-sponsors.haml'
        %section#sponsors{:style => "box-shadow: 0px -3px 10px #a7a7a7;"}
          = include 'lab/sponsors.haml'
    / ./page-wrapper

    /
      End Document
      \==================================================
    /
      JS
      \==================================================
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js", :type => "text/javascript"}
    %script{:src => "../assets/js/jquery.scrollTo.min.js", :type => "text/javascript"}
    %script{:src => "../assets/js/jquery.localScroll.min.js", :type => "text/javascript"}
    %script{:src => "../assets/rs-plugin/js/jquery.themepunch.plugins.min.js", :type => "text/javascript"}
    %script{:src => "../assets/rs-plugin/js/jquery.themepunch.revolution.min.js", :type => "text/javascript"}
    %script{:src => "../assets/js/jquery.form.js"}
    %script{:src => "../assets/js/jquery.validate.min.js"}
    %script{:src => "../assets/js/scripts.js"}
    %script{:src => "../assets/js/supersized.3.2.7.js"}
    %script{:src => "../assets/js/supersized.shutter.min.js"}
    %script{:src => "../assets/js/jquery.prettyPhoto.js"}
    %script{:src => "../assets/js/main.js"}
