.sponsors.container
  .ten.columns{:style => "padding:0"}
    %ul{:style => "justify-content: initial;"}
      - YAML.load_file('lab/sponsors.yaml').each do |s|
        %li
          %a{:href => s['url'], :alt => "Link to #{s['name']}"}
            %img{:src => s['img'], :alt => s['name']}

  .six.columns.contact{:style => "margin: 0; text-align:right;"}
    %p
      MatchBOX Coworking Studio, LLC<br>
      17 S 6th St., Suite X, Lafayette, IN 47901<br>
      hello@MatchBOXStudio.org | 780.212.2434<br><br>
      <a href="http://matchboxstudio.org/">GO TO www.matchboxstudio.org TO APPLY</a>